@use "sass:math";

@import "~src/scss/variables";

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);
}

@debug "hello ninjas";
@debug math.div(10, 3);
@debug math.floor(2.6);
@debug math.max(1px, 20px, 15px, 12px);
